<log4net debug="false">
  
  <!--easy file-->
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <param name="File" value="logs/default.log"/>
    <param name="Encoding" value="utf-8"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Size" />
    <param name="MaximumFileSize" value="100MB"/>
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="ImmediateFlush" value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date %5level %logger - %message%newline"/>
    </layout>
  </appender>

  <!--common file-->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--file path-->
    <file value="log\\"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
    <staticLogFileName value="false"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <layout type="log4net.Layout.PatternLayout">
      <!--print format-->
      <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}]  %n错误描述：%message%newline %n"/>
    </layout>
  </appender>

  <!--console-->
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger - %message%newline" />
    </layout>
  </appender>

  <!--sql server-->
  <appender>
  </appender>
  
  <root>
    <!--all priority options： OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL-->
    <priority value="INFO"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>
  
</log4net>