<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>


  <log4net>
    <root>
      <level value="INFO"></level>
      <appender-ref ref="AdoNetAppender_SQL"/>
    </root>

    <logger name="WebLogger">
      <level value="INFO"/>
      <appender-ref ref="ADONetAppender" />

    </logger>

    <logger name="WebTest">
      <level value="INFO"/>
      <appender-ref ref="ADONetTest" />

    </logger>

    <!--SQL数据库-->
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">

      <bufferSize value="10"/>

      <!-- SQL数据源 ，本地安装SQL客户端-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

      <!-- SQL连接字符串-->
      <connectionString value="data source=SHUJU-BAILING\SQLEXPRESS;initial catalog=LogSys;integrated security=False;persist security info=True;User ID=sa;Password=123456" />

      <commandText value="INSERT INTO Log ([RecordTime],[LevelName],[Message],[Exception],[UserID]) VALUES (@log_date, @log_level, @message, @exception, @UserID)"/>

      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>

      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>

      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>

      <!--自定义成员 -->
      <parameter>
        <parameterName value="@UserID" />
        <dbType value="Int32" />

        <layout type="JJ.Data.LogCommon.CustomLayout">
          <conversionPattern value="%UserID" />
        </layout>

      </parameter>

    </appender>


    <!--SQL数据库-->
    <appender name="ADONetTest" type="log4net.Appender.ADONetAppender">

      <bufferSize value="10"/>

      <!-- SQL数据源 ，本地安装SQL客户端-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

      <!-- SQL连接字符串-->
      <connectionString value="data source=SHUJU-BAILING\SQLEXPRESS;initial catalog=LogSys;integrated security=False;persist security info=True;User ID=sa;Password=123456" />

      <commandText value="INSERT INTO LogTest ([RecordTime],[LevelName],[Message],[Exception],[UserID]) VALUES (@log_date, @log_level, @message, @exception, @UserID)"/>

      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>

      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>

      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>

      <!--自定义成员 -->
      <parameter>
        <parameterName value="@UserID" />
        <dbType value="Int32" />

        <layout type="JJ.Data.LogCommon.CustomLayout">
          <conversionPattern value="%UserID" />
        </layout>

      </parameter>

    </appender>

    <!--<root>
      <level value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
      
    </root>-->

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>